#contact {
margin-right: 125px;
margin-left: 125px;
justify-content: center !important;
align-items: center;
margin-top: 200px;
background-color:#310a31 ;
padding: 15px;
border-radius: 25px;
box-shadow: #360568 0px 0px 0px 3px, #5b2a86 0px 0px 0px 6px, #7785ac 0px 0px 0px 9px,#9ac6c5 0px 0px 0px 12px, #a5e6ba 0px 0px 0px 15px;
}