#contact {
margin-right: 125px;
margin-left: 125px;
justify-content: center !important;
align-items: center;
margin-top: 200px;
background-color:#310a31 ;
padding: 15px;
border-radius: 25px;
box-shadow: rgba(29, 182, 54, 0.712) 0px 22px 70px 4px;
}