.header {
    background: #5C6F68;
    height: 150px;
  }
  #profile {
border: 3px purple solid;
max-height: 200px;
  }
.img-fluid {
padding: 25px;
margin-bottom: 20px;
}


  .header img {
    margin: 0;
    padding-top: 30px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  col-4 {
align-items: left;
size: 50px !important;
margin: 20px;
padding: 20px;
  }

p {
  border: 1px black solid;
  margin: 20px;
  padding: 20px;
}
