.header {
    background: #5C6F68;
    height: 150px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 30px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  