.navbar{
background-color: #010400 !important;  
padding: 30px;
}

button {
 border-radius: 100px;
 background-color: #808782;
 border: 3px solid rgb(180, 166, 202) ;
 color: white;
 size: 150%;
 margin-right: 50px;
 margin-left: 50px;
 width: 120px;
 height: 50px;
 margin-top: 5px;
 
}

/* .navbar-nav {

} */
.navbar-brand{
    font-size: 40px !important;
    font-family: 'La Belle Aurore', cursive;
    color: white;  
}

li {
    color: black;
    padding: 3px;
    font-weight: bold;
    align-items: center !important;
}

/* When you hover over a list item it changes background color and font */
button:hover {
    background-color: #acbfa4;
}
/* Changing the link colors to stand out more */
button:acive {
    color: rgb(255, 255, 255) !important;
}
/* Change the link colors once visited */
button:visited {
    color: rgb(180, 166, 202) !important;
}

#profile {
 
    min-height: 350px;
    /* width: 350px; */
    max-height: 800px;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 75px !important;
    box-shadow: rgba(115, 165, 132, 0.4) 5px 5px, rgba(104, 145, 131, 0.3) 10px 10px, rgba(85, 116, 91, 0.2) 15px 15px, rgba(68, 104, 82, 0.1) 20px 20px, rgba(47, 63, 55, 0.05) 25px 25px;
  }
#profile:hover {
  transform: none;
}

.img-fluid {
padding: 25px;
}

h1 {
  margin-top: 50px !important;
  font-size: 80px !important;
   text-shadow: 0 0 20px rgb(103, 103, 104), 0 0 20px #4e476e, 0 0 20px #583c7e, 0 0 30px #8971b6, 0 0 30px #a19fa0, 0 0 30px #a997c7, 0 0 40px #837991;
   font-family: 'La Belle Aurore', cursive;
   /* margin: 25px; */
   padding: 25px;
}
  .header img {
    margin: 0;
    padding-top: 30px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }