/* .container {
    border: 1px black solid;
    margin: 50px;
    padding: 50px;
  } */
  h3 {
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 45px;
    color: #c9cad9;
  }

  .nav-item {
    color:#82ac70;
    font-weight: bold;
    font-family: 'Shadows Into Light Two', cursive;
  }

.nav-item:acive {
    color: black !important;
}

img:hover {
  transform: scale(1.15);
}

img {
  box-shadow: rgba(113, 29, 182, 0.712) 0px 22px 70px 4px;
}