/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 95%; background-color: #acbfa4;} /* Green */
.css {width: 75%; background-color: #a26769;} /* Blue */
.js {width: 70%; background-color: #e0ca3c;} /* Red */
.php {width: 65%; background-color: #7d84b2;} /* Dark Grey */
.mongo {width: 60%; background-color: #a690a4;} /* Dark Grey */

h2 {
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: underline;
}